<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body, html {margin:0; padding:0; border: none;}
      body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 20px;
      }
      iframe {
        width: 400px;
        height: 400px;
        border: 3px solid black;
        margin: 20px;
        background-color:black;
      }
    </style>
  </head>
  <body>
    $$$$PLACEHOLDER$$$$
  </body>
</html>